body {
    font-family: "Cairo", sans-serif;
    background: #F5F7FA;
}

/* NAVBAR */
.navbar-main {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.nav-link {
    font-weight: 600;
    color: #0D2235 !important;
}

.nav-link:hover {
    color: #2C8C45 !important;
}

/* HERO */
.hero {
    padding: 60px 15px 80px;
    background: radial-gradient(circle at top left, #2C8C45 0, #0D2235 60%);
    color: white;
}

.hero-title {
    font-size: 2.4rem;
    font-weight:200;
}

.hero-btn {
    border-radius: 25px;
    padding: 10px 22px;
    font-weight: 600;
    font-size: 0.95rem;
}

.hero-card {
    background: rgba(255,255,255,0.12);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

.hero-logo {
    max-width: 120px;
}

/* SECTIONS */
.section-title {
    font-size: 2.8rem;
    font-weight: 800;
    color: #0D2235;
    margin: 40px 0 20px;
    text-align: center;
}

.card-modern {
    background: #ffffff;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    transition: .25s;
}

.card-modern:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.15);
}

.card-modern i {
    font-size: 2rem;
    color: #2C8C45;
}

/* FOOTER */
.footer {
    background: #0D2235;
    color: #e5e7eb;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}
.header-government {
    text-align: center;
    width: 100%;
    margin: 0 auto !important;
    padding: 0;
    display: block;
}

.header-government h5,
.header-government h6 {
    margin: 0;
    padding: 0;
}
.hero-subtitle {
    text-align: center;
    font-size: 1.15rem;
    line-height: 1.8;
    margin: 0 auto;
    padding: 0;
    color: #f1f5f9;
    max-width: 650px; /* جعل النص جميل وغير ممتد */
}
@media (max-width: 576px) {
    .hero-subtitle {
        font-size: 1rem;
        max-width: 100%;
        text-align: center;
        padding: 0 10px;
    }
}

.news-ticker {
    width: 100%;
    overflow: hidden;
    background: #dc3545;
    color: #ffff00;
    padding: 10px 0;
    border-radius: 12px;
    margin-bottom: 20px;
    direction: ltr;
    position: relative;
}

.ticker-track {
    display: flex;
    width: max-content;
    animation: tickerMove 50s linear infinite;
}

.ticker-track span {
    white-space: nowrap;
    font-weight: 700;
    font-size: 15px;
    padding-inline-end: 80px;
    direction: rtl;
}

@keyframes tickerMove {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}


